<!DOCTYPE html>
<html lang="en" ng-app="bound1ess">
    <head>
        <meta charset="utf-8">
        <title>bound1ess</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8" ng-controller="ProjectsController">
                    <h1>Projects ({{projects.length}})</h1>
                    <hr>
                    <ul class="list-unstyled" id="projects">
                        <li ng-repeat="project in projects">
                            <strong><a href="https://github.com/{{project.github_uri}}" target="_blank">{{project.name}}</a></strong>{{", " + project.description + "."}}
                        </li>
                    </ul>
                </div>

                <div class="col-md-4" ng-controller="AboutController">
                    <h1>About <a href="https://twitter.com/bound1ess">@bound1ess</a></h1>
                    <hr>
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="fact in about">
                            <h4 class="list-group-item-heading">{{fact.title}}</h4>
                            <p class="list-group-item-text">{{fact.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular.min.js"></script>
        <script src="/app.js"></script>
    </body>
</html>
